.fixed-countdown {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $yellow;
    border-top: 1px solid rgba($gray-300, 0.5);
    z-index: 2;
    .activity-title {
        font-size: 1rem;
        @media screen and (min-width: 1024px) {
            font-size: 1.25rem;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
    .timer {
        flex-wrap: wrap;
        line-height: 1.15;
        .h1 {
            @media screen and (max-width: 767px) {
                font-size: 1.875rem;
            }
            @media screen and (max-width: 359px) {
                font-size: 1.5rem;
            }
        }
        .h6 {
            @media screen and (max-width: 767px) {
                font-size: 0.875rem;
            }
        }
    }
    .btn {
        white-space: nowrap;
        @media screen and (min-width: 1024px) {
            padding: 10px 30px 12px;
            font-size: 1.25rem;
        }
        @media screen and (max-width: 1023px) {
            padding: 8px 18px 10px;
            font-size: 1rem;
        }
    }
}
