header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90px;
	background-color: rgba($black, 0.1);
	border-bottom: 1px solid transparent;
	@include transition(all 0.1s);
	z-index: 3;
	&.scroll {
		height: 70px;
		background-color: rgba($white, 0.95);
		border-bottom-color: $gray-200;
		backdrop-filter: blur(3px);
		.logo__set {
			padding-bottom: 0;
			> img {
				display: none;
			}
		}
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	a {
		display: block;
		&.logo {
			img {
				display: block;
				height: 40px;
			}
		}
	}
	.logo__set {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-bottom: 20px;
		z-index: 4;
		> a {
			display: block;
			align-self: auto;
			> img {
				display: block;
				width: auto;
				height: auto;
                @media screen and (min-width: 768px) {
                    height: 45px;
                }
                @media screen and (max-width: 767px) {
                    height: 35px;
                }
            }
			&:first-child {
				margin-right: 10px;
			}
		}
		> img {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.hamburger {
		position: relative;
		width: 30px;
		height: 25px;
		z-index: 5;
		@include breakpoint(930px) {
			display: none;
		}
		span {
			position: absolute;
			left: 0;
			display: block;
			width: 30px;
			height: 3px;
			background-color: $black;
			&:first-child {
				top: 0;
			}
			&:nth-child(2) {
				top: 50%;
				@include translateY(-50%);
			}
			&:last-child {
				bottom: 0;
			}
		}
		&.active {
			span {
				&:first-child {
					top: 50%;
					@include rotate(-45deg);
				}
				&:nth-child(2) {
					@include opacity(0);
				}
				&:last-child {
					top: 50%;
					bottom: auto;
					@include rotate(45deg);
				}
			}
		}
	}
	nav {
		font-size: 0;
		z-index: 3;
		@include breakpoint(max-width 929px) {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			padding: 100px 70px 20px 20px;
			background-color: rgba($white, 0.95);
		}
		ul {
			@include list(0, 0, none);
			li {
				@include breakpoint(max-width 929px) {
					margin-bottom: 25px;
					&:last-child {
						display: none;
					}
				}
				@include breakpoint(930px) {
					display: inline-block;
					margin-left: 20px;
				}
				@include breakpoint(1200px) {
					margin-left: 30px;
				}
				a {
					font-size: 1.125rem;
					@include breakpoint(930px) {
						font-size: 1rem;
					}
					&.btn {
						display: block;
					}
					&.link {
						color: $black;
						&:hover {
							color: $blue;
						}
					}
				}
			}
		}
	}
}
