$gray-100: #EEEEEE !default;
$gray-200: #dddddd !default;
$gray-300: #909090 !default; //secondary
$gray-400: #595757 !default;
$gray-500: #48545D !default; //secondary-variant

//
$primary: #D60C18 !default; //primary

//
$white: #fff !default; //background
$gray: #f0f0f0 !default; //background
$black: #171717 !default;
$dark: #394148 !default;
$black: #000 !default;

$yellow: #f7c536;
$blue: #00a0e9;
$darken-yellow: #f7ac26;
$darken-blue: darken($blue, 10%);

//
$facebook: #1877F2 !default;
$google: #EA4335 !default;
$instagram: #b900b4 !default;
$line: #00C200 !default;
$rss: #FF5700 !default;

$colors: () !default;
$colors: map-merge((
    "primary": $primary,
    "yellow": $yellow,
    "blue": $blue,
    "darken-yellow": $darken-yellow,
    "darken-blue": $darken-blue
    ), $colors
);
