$icomoon-font-family: "cwef" !default;
$icomoon-font-path: "../fonts" !default;

$icon-arrow-down: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-up: "\e903";
$icon-check: "\e904";
$icon-chevron-down: "\e905";
$icon-chevron-left: "\e906";
$icon-chevron-right: "\e907";
$icon-chevron-up: "\e908";
$icon-eye-slash: "\e90a";
$icon-eye-on: "\e909";
$icon-minus: "\e90b";
$icon-plus: "\e90c";
$icon-x: "\e90d";

@font-face {
	font-family: '#{$icomoon-font-family}';
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4kr2ud');
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?4kr2ud#iefix') format('embedded-opentype'),
		 url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4kr2ud') format('truetype'),
		 url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4kr2ud') format('woff'),
		 url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4kr2ud##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down {
	&:before {
		content: $icon-arrow-down; 
	}
}
.icon-arrow-left {
	&:before {
		content: $icon-arrow-left; 
	}
}
.icon-arrow-right {
	&:before {
		content: $icon-arrow-right; 
	}
}
.icon-arrow-up {
	&:before {
		content: $icon-arrow-up; 
	}
}
.icon-check {
	&:before {
		content: $icon-check; 
	}
}
.icon-chevron-down {
	&:before {
		content: $icon-chevron-down; 
	}
}
.icon-chevron-left {
	&:before {
		content: $icon-chevron-left; 
	}
}
.icon-chevron-right {
	&:before {
		content: $icon-chevron-right; 
	}
}
.icon-chevron-up {
	&:before {
		content: $icon-chevron-up; 
	}
}
.icon-eye-on {
	&:before {
		content: $icon-eye-on; 
	}
}
.icon-eye-slash {
	&:before {
		content: $icon-eye-slash; 
	}
}
.icon-minus {
	&:before {
		content: $icon-minus; 
	}
}
.icon-plus {
	&:before {
		content: $icon-plus; 
	}
}
.icon-x {
	&:before {
		content: $icon-x; 
	}
}

