@import "_basic";
@import "_general";
@import "_sheet";

@each $color, $value in $colors {
	.color-#{$color} {
		color: $value;
	}
}

@import "_variable";
@import "_typography";
@import "_embed";
@import "_container";
@import "_space";
@import "_button";
@import "_navigation";
@import "_footer";

section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include breakpoint(1024px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .section-title {
        align-items: baseline;
        justify-content: center;
        h1 {
            @include breakpoint(max-width 767px) {
                font-size: 1.875rem;
            }
        }
        h3 {
            color: $gray-300;
            @include breakpoint(max-width 767px) {
                font-size: 1.125rem;
            }
        }
    }
    &.opening {
        position: relative;
        min-height: 100vh;
        color: $gray-400;
        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding-top: 6.5vh;
            .row {
                width: calc(100% + 40px);
            }
            .img {
                width: 100%;
            }
        }
        h1 {
            img {
                width: calc(100vw - 60px);
                max-width: 550px;
                @include breakpoint(768px) {
                    width: 100%;
                }
                @include breakpoint(1024px) {
                    width: 65%;
                }
                @include breakpoint(1200px) {
                    width: 50%;
                }
                @media screen and (max-height: 850px) and (min-width: 1200px) {
                    width: 40%;
                }
            }
        }
        h2 {
            img {
                width: calc((100vw * 0.8) - 40px);
                @include breakpoint(768px) {
                    width: 400px;
                }
            }
        }
    }
    &.essence {
        background-color: $gray;
        @import "_slider";
    }
    &.about-detail {
        background-color: $gray;
    }
    &.agenda {
        .agenda-item {
            border-top: 1px solid $gray-200;
        }
        .col-agenda-4 {
            width: 100%;
            @include breakpoint(1024px) {
                width: calc(100% - 375px);
            }
            @include breakpoint(1200px) {
                width: calc(100% - 425px);
            }
        }
        .col-agenda-6 {
            width: 100%;
            @include breakpoint(1024px) {
                width: 375px;
            }
            @include breakpoint(1200px) {
                width: 425px;
            }
        }
        .agenda-head {
            padding-top: 60px;
            padding-bottom: 60px;
            @include breakpoint(1024px) {
                padding-top: 80px;
                padding-bottom: 80px;
            }
            button {
                .icon {
                    padding-bottom: 2px;
                }
                &.active {
                    .icon {
                        padding-top: 2px;
                        padding-bottom: 0;
                        @include rotate(180deg);
                    }
                }
            }
        }
        .agenda-body {
            display: none;
            padding-top: 60px;
            padding-bottom: 60px;
            background-color: $gray;
            @include breakpoint(1024px) {
                padding-top: 80px;
                padding-bottom: 80px;
            }
        }
        .agenda-img {
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.agenda-img-main {
                width: 100%;
                &::before {
                    @include beforeafter('', block);
                    width: 100%;
                    padding-top: 62.5%;
                    @include breakpoint(1024px) {
                        padding-top: 56.25%;
                    }
                }
            }
            &.agenda-img-landscape {
                @include breakpoint(max-width 1023px) {
                    width: 100% !important;
                    height: auto !important;
                    &::before {
                        @include beforeafter('', block);
                        width: 100%;
                        padding-top: 62.5%;
                    }
                }
            }
            &.agenda-img-verticle {
                position: relative;
                // height: 485px;
                height: 375px;
                @include breakpoint(1200px) {
                    height: 400px;
                }
                @include breakpoint(max-width 1023px) {
                    display: none;
                }
            }
        }
        .speaker-item {
            align-items: flex-start;
            + .speaker-item {
                margin-top: 20px;
            }
            .speaker-img {
                display: block;
                width: 90px;
                @include border-radius(50%);
                @include breakpoint(1200px) {
                    width: 120px;
                }
            }
            .speaker-text {
                position: relative;
                @include breakpoint(1024px) {
                    height: calc(100% - 95px);
                    padding-bottom: 50px;
                }
                @include breakpoint(1200px) {
                    height: calc(100% - 125px);
                }
                @include breakpoint(max-width 1023px) {
                    width: calc(100% - 120px);
                }
                p {
                    span {
                        display: inline-block;
                    }
                }
                button {
                    @include breakpoint(1024px) {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        @include translateX(-50%);
                    }
                    @include breakpoint(max-width 1023px) {
                        padding: 5px 25px 7px;
                    }
                }
            }
        }

    }
    &.addr {
        background-color: $yellow;
        .row {
            height: 100%;
            @include breakpoint(max-width 1023px) {
                flex-direction: column-reverse;
                align-items: center;
            }
        }
        .traffic {
            @include breakpoint(1024px) {
                padding-left: calc( 2.5vw + 20px);
            }
            @include breakpoint(1200px) {
                padding-left: calc( ((100vw - 1140px) / 2) + 20px);
            }
        }
        .label {
            border-bottom: 2px solid $black;
        }
        iframe {
            width: 100%;
            height: 100%;
            min-height: 300px;
            border: 0;
        }
    }
    &.register {
        border-top: 1px solid $gray-200;
        .card-item {
            position: relative;
            border: 1px solid $gray-200;
            align-items: center;
            .card-head {
                background-color: rgba($yellow, 0.1);
                @include breakpoint(1024px) {
                    border-right: 1px solid $gray-200;
                }
                .h1 {
                    color: $darken-yellow;
                }
                p {
                    position: absolute;
                    left: 0;
                    right: 0;
                }
            }
            .card-body {
                ul {
                    @include list(0, 0, none);
                    li {
                        position: relative;
                        display: flex;
                        align-items: baseline;
                        + li {
                            margin-top: 10px;
                        }
                        &::before {
                            @include beforeafter($icon-check, block);
                            position: relative;
                            top: 3px;
                            padding-right: 10px;
                            color: $yellow;
                            font-family: $icomoon-font-family;
                            font-size: 1.125rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    &.sponsor {
        border-top: 1px solid $gray-200;
        .section-title {
            justify-content: flex-start;
        }
    }
}

@import "_message";
